.colorBg {
    background-color: rgba(83, 184, 152, 1);
    background-image: linear-gradient(
        135deg,
        rgba(47, 145, 224, 0.91)
        rgba(7, 31, 51, 0.97) 79%
    );
    background-image: linear-gradient(
        131deg,
        rgba(28, 118, 173, 0.92),
        rgba(83, 184, 152, 1) 
    ); 
}

.landingPaddingTitle {
    padding-top: 210px;
}

.fontStyleFooter {
    font-family: 'Outfit', sans-serif;
}

.fontStyleTitle {
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    
}
.fontSizeTitle {
    font-size: 75px;
}

.fontStyleText {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    
}

.fontSizeText {
    font-size: 27px;
}

.paddingSection {
    padding-top: 45px;
}

.paddingTopArticles {
    padding-top: 24px;
}

.styleImage {
    background-color: hsla(0, 0%, 98%, 0.2);
}


.grid-container article:hover {
    transform: translateY(-10px);
    transition: transform 0.2s ease-out;
  }
  
  .grid-container img {
    width: 100%;
    height: 350px;
  }

  .landingFavorites-container {
    background: linear-gradient(
        131deg,
        rgb(116, 206, 177) ,
        rgb(151, 212, 207) 
    ); 
    border-radius: 5px;
    width: auto; 
    height: 450px;
    align-items: center;
  }

  .margin-container {
    margin-top: 120px !important;
  }

  
  @media screen and (max-width: 395px) {
      .fontSizeTitle {
          font-size: 65px;
      }
  }
  @media screen and (max-width: 360px) {
      .fontSizeTitle {
            font-size: 62px;
        }
        .fontSizeText {
            font-size: 25px;
        }
    }
    @media screen and (max-width: 345px) {
        .fontSizeTitle {
            font-size: 62px !important;
        }
    }
    @media screen and (max-width: 330px) {
        .fontSizeTitle {
            font-size: 59px !important;
        }
    }
    
    @media screen and (max-width: 315px) {
        .fontSizeTitle {
            font-size: 56px !important;
        }
    }
    @media screen and (max-width: 300px) {
        .fontSizeTitle {
            font-size: 50px !important;
        }
    }

    @media screen and (max-width: 280px) {
        .fontSizeTitle {
            font-size: 42px !important;
        }
        .fontSizeText {
            font-size: 22px;
        }
    }
    @media screen and (max-width: 235px) {
        .fontSizeTitle {
            font-size: 35px !important;
        }
        .fontSizeText {
            font-size: 18px;
        }
    }


    