.colorBg {
    background-color: rgba(83, 184, 152, 1);
    background-image: linear-gradient(
        135deg,
        rgba(47, 145, 224, 0.91)
        rgba(7, 31, 51, 0.97) 79%
    );
    background-image: linear-gradient(
        131deg,
        rgba(28, 118, 173, 0.92),
        rgba(83, 184, 152, 1) 
    ); 
}

.fontStyleTitle {
    font-family: 'Outfit', sans-serif;
}

.fontStyleText {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
}

.paddingSection {
    padding-top: 45px;
}

.article:hover {
    transform: scale(1.1);
}

.paddingTopArticles {
    padding-top: 28px;
}

.styleImage {
    background-color: hsla(0, 0%, 98%, 0.2);
}

.grid-container {
    background: linear-gradient(
        131deg,
        rgba(47, 139, 197, 0.92),
        rgb(111, 226, 190) 
    ); 
    border-radius: 5px;
    padding: 40px;
  }
  
  .grid-container article:hover {
    transform: translateY(-5px);
    transition: transform 0.2s ease-out;
  }
  
  .grid-container img {
    width: 100%;
    height: 350px;
  }
  
  
  


@media screen and (max-width: 576px) {
    .paddingSection {
        padding-top: 10px;
    }
  }

@media screen and (max-width: 768px) {
    .paddingSection {
        padding-top: 10px;
    }
  }

@media screen and (max-width: 992px) {
    .paddingSection {
        padding-top: 10px;
    }
  }

@media screen and (max-width: 1200px) {
    .paddingSection {
        padding-top: 10px;
    }
  }

@media screen and (max-width: 1400px) {
    .paddingSection {
        padding-top: 10px;
    }
  }
