.colorBg {
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(
        131deg,
        rgba(187, 177, 177, 0.92),
        rgb(255, 255, 255) 
    ); 
}

.landingPaddingTitle {
    padding-top: 210px;
}

.fontStyleFooter {
    font-family: 'Outfit', sans-serif;
}

.fontStyleTitle {
    font-family: 'Outfit', sans-serif;
    font-weight:bold !important;
    
}

.fontStyleText {
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    
}

.imagesHeight{
    height: 600px;
}

.paddingSection {
    padding-top: 45px;
}

.paddingTopArticles {
    padding-top: 24px;
}

.styleImage {
    background-color: hsla(0, 0%, 98%, 0.2);
}


.grid-container article:hover {
    transform: translateY(-10px);
    transition: transform 0.2s ease-out;
  }
  
  .grid-container img {
    width: 100%;
    height: 350px;
  }

  .landingFavorites-container {
    border-radius: 5px;
    height: 650px;
  }

  .margin-container {
    margin-top: 120px !important;
  }

  .backgroundImage {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url("../assets/bgImage-opacity.jpeg");
    background-size: cover;
   background-position-y: 45%;
  }
  
  .carousel-control-next-icon::after {
    display: none;
  }

  .carousel-control-prev-icon::after {
    display: none;
  }

  .carousel-control-next-icon, .carousel-control-prev-icon {

    display: inline-block !important; 
    width: 8rem !important; 
    height: 2rem !important;
    background-repeat: no-repeat !important; 
    background-position: 50% !important; 
   background-size: 100% 100% !important;
  }