.bgSectionColor {
    background: linear-gradient(120deg, #c9d6ff, #e2e2e2);
  }

  .cPointer {
    cursor: pointer;
  }

  .cPointer:hover {
    transform: scale(1.3);
}

.fontStyle {
  font-family: 'Rampart One', cursive;
}


