.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overlay .close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 28px;
  color: white;
  background-color: transparent;
  border: none;
}

.video-container {
  position: relative;
width: 80%;
height: 80%;
}

.video-container .react-player {
  position: absolute;
  
}

.cardID {
  transition: all 0.2s ease;
  cursor: pointer;
  
  
}

.cardID:hover {
    transform: scale(1.1);
}

.videoSize {
  width: 100% !important;
  height: 200px !important;
}

.videoBorder {
 border-radius: 3.6rem / 1.5rem;
}

.videoPadding {
  padding: 10px;
  
}

.textPosition {
  margin-top: -33px;
  margin-left: -15px;
  font-weight: bold;
}

