.imageBorder {
    border-radius: 4px;
}

.imagePadding {
    padding: 13px;
}

.bgSectionColor {
    background-image: linear-gradient(
        131deg,
        rgba(59, 209, 184, 0.92),
        rgb(117, 218, 51) 
    ); 
}