.overlay  {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  background-color: rgba(0, 0, 0, 0.8) !important;
  z-index: 1000 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
}

.overlay .close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 28px;
  color: white;
  background-color: transparent;
  border: none;
}

.video-container {
  position: relative;
width: auto;
height: 800px;
}

.video-container .react-player {
  position: absolute;
  
}

.cardID {
  transition: all 0.2s ease;
  cursor: pointer;
  
}

.cardID:hover {
    transform: scale(1.1);
}

.videoSize {
  width: 100% !important;
  height: 200px !important;
}

.videoPadding {
  padding: 10px;

}

.textPosition {
  margin-top: -18px;
  margin-left: -10px;
  font-weight: bold;
}

.paddingSectionVideoNull {
  padding-top: 175px;
  padding-bottom: 175px;

}

@media screen and (max-width: 280px) {
  .textPosition {
    margin-top: -40px;
    margin-left: -5px;
  }
}

@media screen and (max-width: 576px) {
  .textPosition {
    margin-top: -5px;
    margin-left: -8px;
  }
}

@media screen and (max-width: 768px) {
  .textPosition {
    margin-top: -5px;
    margin-left: -8px;
  }
}
@media screen and (max-width: 1200px) {
  .textPosition {
    margin-top: -5px;
    margin-left: -8px;
  }
}
@media screen and (max-width: 1400px) {
  .textPosition {
    margin-top: -5px;
    margin-left: -8px;
  }
}