.overlay  {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  background-color: rgba(0, 0, 0, 0.8) !important;
  z-index: 1000 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
}

.overlay .close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 28px;
  color: white;
  background-color: transparent;
  border: none;
}

.video-container {
  position: relative;
width: auto;
height: 800px;
}

.video-container .react-player {
  position: absolute;
  
}

.cardID {
  transition: all 0.2s ease;
  cursor: pointer;
  
}

.cardID:hover {
    transform: scale(1.1);
}

.videoSize {
  width: 100% !important;
  height: 100% !important;
}

.textPosition {
  margin-top: -30px;
  font-weight: bold;
}

.paddingSectionVideoNull {
  padding-top: 175px;
  padding-bottom: 175px;
}

.video-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 0.5rem;
}

.video-title-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 0.5rem;
}