
.cardWidth {
    width: 18rem;
}

.categoryColor {
    color: rgb(55, 4, 102);
    font-family: 'Rampart One';
    font-weight: bold;
    font-size:20px;
}

@media screen and (max-width: 318px) {
    .cardWidth {
        width: auto !important;
    }
}
