
.cardWidth {
    width: 18rem;
}

.categoryColor {
    color: rgb(84, 33, 107);
    font-family: 'Monofett', cursive;
    font-size:30px;
}

@media screen and (max-width: 318px) {
    .cardWidth {
        width: auto !important;
    }
}
