
.colorBgSection {
    background: linear-gradient(
        131deg,
        rgb(113, 223, 188) ,
        rgb(128, 197, 191) 
    ); 
}

.paddingSectionsCards {
    padding-bottom: 40px;
    
}

.paddingSectionPaginate {
    padding-bottom: 31px;
}

.paddingSectionNullCategory {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.sectionCategory-container {
    background: linear-gradient(
        131deg,
        rgb(116, 206, 177) ,
        rgb(151, 212, 207) 
    ); 
    border-radius: 5px;
    padding: 50px;
    text-align: center;
  width: 100%; 
  }
  
  .sectionCategory-container img {
    width: 100px;
    height: 100px;
    margin-bottom: 50px;
  }
  
  .sectionCategory-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-top: 25px;
  }
  
  .sectionCategory-description {
    font-size: 16px;
    line-height: 1.5;
  }
