
.colorBgSection {
    background: linear-gradient(
        131deg,
        rgb(113, 223, 188) ,
        rgb(128, 197, 191) 
    ); 
}

.paddingSectionsCards {
    padding-bottom: 40px;
    
}

.paddingSectionPaginate {
    padding-bottom: 31px;
}

.paddingSectionNullCategory {
    padding-top: 200px !important;
    padding-bottom: 200px !important;
}

.sectionCategory-container {
    background: linear-gradient(
        131deg,
        rgb(116, 206, 177) ,
        rgb(151, 212, 207) 
    ); 
    border-radius: 5px;
    padding: 50px;
    text-align: center;
  }
  
  .sectionCategory-container img {
    width: 100px;
    height: 100px;
    margin-bottom: 50px;
  }
  
  .sectionCategory-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-top: 25px;
  }
  
  .sectionCategory-description {
    font-size: 16px;
    line-height: 1.5;
  }

@media screen and (max-width: 576px) {
    .paddingSectionPaginate {
        padding-bottom: 10px;
    }
    .paddingSectionNullCategory {
    padding-top: 165px !important;
    padding-bottom: 165px !important;
    }
  }

@media screen and (max-width: 768px) {
    .paddingSectionPaginate {
        padding-bottom: 10px;
    }
    .paddingSectionNullCategory {
        padding-top: 165px !important;
        padding-bottom: 165px !important;
        }
  }

@media screen and (max-width: 992px) {
    .paddingSectionPaginate {
        padding-bottom: 10px; 
    }
    .paddingSectionNullCategory {
        padding-top: 170px !important;
        padding-bottom: 170px !important;
        }
  }

@media screen and (max-width: 1200px) {
    .paddingSectionPaginate {
       padding-bottom: 10px;
    }
    .paddingSectionNullCategory {
        padding-top: 175px !important;
        padding-bottom: 175px !important;
        }
  }

@media screen and (max-width: 1400px) {
    .paddingSectionPaginate {
        padding-bottom: 10px; 
    }
    .paddingSectionNullCategory {
        padding-top: 183px !important;
        padding-bottom: 183px !important;
        }
  }



  