.styleSearchBar {
    width: 350px !important;
} 

.form-control:focus {
    border-color: rgb(94, 94, 94) !important;
    box-shadow: none !important;
  }


@media screen and (max-width: 390px) {
    .styleSearchBar {
        width: auto !important;
    }
}
