.nav-item {
    padding-left: 0.5rem;
    transition: all 0.3s ease-out;
}

.nav-item:hover {
    color: white !important;
}

.nav-link {
    color: gainsboro !important ;
    font-weight:700 !important;
}

.nav-link:hover {
color: white !important;

}

.navbar {
    background-color:rgb(0, 0, 0) !important;
}

